@charset "utf-8";
/*CSS Document*/
body{
    background-color:#f6f5f5;
    margin:0px;
    padding:0px;
    }
ul{
    list-style:none; 
  }
a{
    text-decoration:none;
 }
 section{
        width:100%;
        height: 95vh; /* I'm using vh because its independent of the font size :) */
        background-image:url("Portfolio BG.jpg");
        background-size:cover;
        background-repeat:no-repeat; /* I dont like to be repeated both vertically amd horizontally */
        position: relative;
        }
nav{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    justify-content:space-between; /* I want to control spaces between the content */
    align-items: center;
    height:60px;
    background-color: #FFFFFF;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.2); /* This rgba attribute is way better to control not only colors but opacity */
    padding:0px 5%;
   }
nav ul{
       display: flex;
      }
.toggle{
       display:none;
       }      
nav ul li a{   /* This is for the menu options */
            margin:30px;
            font-family:arial;
            color: #505050;
            font-size:15px;
            font-weight:700;
           }
.link{
    font-family:calibri;
    color:#000000;
    font-size:22px;
    }
.active{ 
        font-weight:bold;
        color:#2d2a2a /* I'm writing color codes like this because I'm using the color contrast check */
       }
.text-container {
                font-family: calibri;
                font-weight:bold;
                color:#6d6d6d;
                font-size: 22px;
               }
.text-container p:nth-child(2){/* this is to style p elements separately */
                               font-family:calibri;
                               font-weight:bold;
                               letter-spacing:1px;
                               color:#1a1a1a;
                               font-size:60px;
                              }
.text-container p:nth-child(3){
                              font-family: "myriad pro regular";
                              color:#403e3e;
                              font-size:30px;
                              line-height:30px;
                              }
.text-container p{
                 line-height:0px;
                 margin:45px 0px 25px;              
                 }
.text-container{
               position:absolute;
               left:13%;
               top:42%;
               transform:translate(-13%, -42%);
               }
.text-container button{
                      width:130px;
                      height:42px;
                      border-radius:10px;
                      font-family: calibri;
                      font-weight:bold;
                      font-size:14px;     /* Just to clarify most of these measures are basically try and error until one accetpable appears */
                      outline: none;
                      margin: 0px 10px;
                      }
.down-cv{
        Background-color:#0b0b0b;
        color:#FFFFFF;
        border:none;
        }
button:active{
             transform:scale(1.1);/* this is for changing its size when clicking it */
             }
.myself{
       filter:drop-shadow(5px 5px 5px #666666);
       height:900px;
       position:absolute;
       bottom:40px;
       left:70%;
       transform:translateX(-70%);
       }       
.about-container{
                width:75%;
                height:330px;
                background-color: #FFFFFF;
                border-radius:20px;
                box-shadow:2px 2px 12px rgba(0, 0, 0, 0.2); 
                display:flex;
                margin:-7% auto 20px auto;
                position:relative;
                justify-content:space-evenly;
                align-items:center;
                }
.about-container img{
                    filter:drop-shadow(5px 5px 5px #666666);
                    height:350px;
                    top:-25px;
                    position:relative;
                    }
.about-text{
           width:550px;    
           }
.about-text p:nth-child(1){
                          color:#403e3e;
                          font-family:calibri;
                          font-weight:bold;
                          font-size:23px;
                          line-height:0px;
                          }
.about-text p:nth-child(2){
                           color:#3e3d3d;
                           font-size:13px;
                           font-family:"myriad pro regular";
                           font-weight:bold;
                           line-height:5px;
                          }
.about-text p:nth-child(3),
.about-text p:nth-child(4)
                          {
                           color:#7e7d7d;
                           font-size:16px;
                           font-family:calibri;
                           font-weight:bold;                           
                          }
.about-text button{
                  width:120px;
                  height:40px;
                  color:#FFFFFF;
                  Outline:none;
                  Border:none;
                  font-family:calibri;
                  background-color:#262525;
                  }
.My-Work{
        height:600px;
        background-color:#FFFFFF;
        padding:2% 10% 0px 10%;
        }
.mywork-text p:nth-child(1){
                          font-family:calibri;
                          font-weight:bold;
                          color:#3e3d3d;
                          font-size:30px;
                          line-height:0px;
                           }        
.mywork-text p:nth-child(2){
                          font-family:calibri;
                          font-weight:bold;
                          color:#3e3e3d;
                          font-size:15px;
                          line-height:5px;
                           }    
.mywork-text p:nth-child(3){
                          font-family:calibri;
                          color:#7f7f7f;
                           }
.mywork-text{
        width:500px;
        margin:50px 0px;
            }
.Box-1, .Box-2, .Box-3, .Box-4{
                              width:300px;
                              height:320px;
                              background-repeat:no-repeat;
                              background-size:cover;
                              box-shadow:2px 2px 12px rgba(0, 0, 0, 0.3);
                              display:flex;
                              justify-content:center;
                              align-items:center;
                              flex-direction:column; /* I don't like the row default flex-direction */
                              border-radius:10px;
                              }
.box-container{
              display:flex;
              justify-content:space-between;
              }
.Box-1{
      background-image:url("Dark green BG.jpg");
      }
.Box-2{
      background-image:url("Dark yellow BG.jpg"); 
      }
.Box-3{
       background-image:url("Dark purple BG.jpg");
      }
.Box-4{
      background-image:url("Dark BG.jpg");
      }
.Box-1 span,
.Box-2 span,
.Box-3 span,
.Box-4 span{
           width:40px;
           height:40px;
           border-radius:50%;
           background-color:#FFFFFF;
           display:flex;
           justify-content:center;
           align-items:center;
           font-family:calibri;
           font-weight:bold;
           }
.Box-1 p:nth-child(2),
.Box-2 p:nth-child(2),
.Box-3 p:nth-child(2),
.Box-4 p:nth-child(2){
                     color:#FFFFFF;
                     font-family:calibri;
                     font-size:23px;
                     line-height:0px;
                     }
.Box-1 p:nth-child(3),
.Box-2 p:nth-child(3),
.Box-3 p:nth-child(3),
.Box-4 p:nth-child(3){
                     color:#9f9f9f;
                     text-align:center;
                     width:230px;
                     margin:0px 0px 20px 0px;
                     font-family:calibri;  
                     }
.Box-1 button,
.Box-2 button,
.Box-3 button,
.Box-4 button{
             width:100px;
             height:30px;
             background-color:#FFFFFF;
             border:none;
             outline:0px;
             border-radius:5px;
             margin-bottom:50px;
             }
.contact-info{;
             font-family:calibri;
             display: flex;
             margin:60px 330px;
             width: 100%;
             max-width: 1200px;
             align-items: center;
             justify-content: center;
             padding: 0 20px;
             }

h1{
  margin-top:30px;
  font-family:calibri;
  text-align:center;  
  }
h2{
  font-family:calibri;
  text-align:center;  
  }
.card{
     background-image:url("Footer BG.jpg");
     padding: 0 20px;
     margin: 0 10px;
     width: calc(33% - 20px);
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #ffffff;
     cursor: pointer;
     border-radius:10px;
     }
.card-icon{
           background:#FFFFFF;
           font-size:28px;
           width:50px;
           height:50px;
           text-align:center;
           line-height:60px !important;
           border-radius:50%;
           transition:0.3s linear;
           }
.card:hover .card-icon{
                      background:none;
                      color:#ff6348;
                      transform:scale(1.6);
                      }

.card p{
        margin-top:20px;
        font-weight:300;
        letter-spacing:2px;
        max-height:0;
        opacity:0;
        transition:0.3s linear; /* This is something I saw on w3schools that I thought would give a more interactive look */
       }

.card:hover p{
             max-height: 40px;
             opacity: 1;
             }
footer{
       height:300px;
       display:flex;
       flex-direction:column;
       justify-content:center;
       align-items:center;
       }
footer p{
         font-family:calibri;
         }
footer p:nth-child(1){
                      font-size:30px;
                      font-weight:bold;
                      color:#191919;
                      line-height:10px;
                      }
footer p:nth-child(2){
                      font-size:16px;
                      color:#7e7d7d;
                      width:600px;
                      text-align:center;
                      }
@media(max-width:1000px){       /* all this code down will be for the accesibility feature that allows you to see the page in other sizes  */
                        *{
                          box-sizing: border-box;
                         }
                         .myself{
                                height:460px;
                                left: 90%;
                                transform: translateX(-90%);
                                }
                         .text-container{
                                        top:46%;
                                        }
                         .text-container button{
                                               margin:5px;
                                               }  
                         .about-container{
                                         width:90%;
                                         border-radius:10px;
                                         }
                         .about-container img{
                                             height:200px;
                                             }
                         .about-text{
                                    width:400px;                                 
                                    }
                         .about-text p:nth-child(1){
                                                   font-size:20px;
                                                   }
                         .about-text p:nth-child(2){
                                                   font-size:10px;
                                                   }
                         .about-text p:nth-child(3),
                         .about-text p:nth-child(4){
                                                   font-size:24px;
                                                   }
                         .My-work{
                                 padding:2% 5% 0px 5%;
                                 }
                         .box-container{
                                       justify-content:center;
                                       flex-wrap:wrap; /* this allows the boxes to wrap into multiple lines */
                                       }
                         .My-work{
                                 height:auto;
                                 }
                         .box-1,.box-2,.box-3,.box-4{
                                                    flex-grow:1;
                                                    margin:10px;
                                                    }
                         .contact-info{
                                      max-width:600px;
                                      height:200px;
                                      margin:0 auto;
                                      display:grid; /* I have tried everything, but I still cant figure out how to also send the contact information down aswell :< */
                                      }
                         .card{
                              position:relative;
                              }
                        }
@media(max-width:750px){
                       section{
                              background-image:none;
                              background-color:#f7f7f7;
                              }
                       .myself{
                              display:none;
                              }
                       .toggle{
                              display:block;
                              }       
                       .text-container p:nth-child(2){
                                                     line-height:40px;
                                                     margin: 0px;
                                                     padding:0px;
                                                     }
                       .text-container{
                                      top:50%;
                                      left:50%;
                                      transform:translate(-50%, -50%);
                                      width:80%;
                                      }
                       nav ul{
                             margin:0px;
                             padding:0px;
                             background-color:#ebeef4;
                             flex-direction:column;
                             position:fixed;
                             left:0;
                             top:0;
                             width:100%;
                             height:100vh;
                             box-sizing:border-box;
                             display:flex;
                             justify-content:center;
                             align-items:center;
                             z-index: 1;    /* this is the code for the position of the menu bar once the screen is modified */ 
                             display:none;
                             }
                        nav ul li{
                                 padding:10px;
                                 }
                        nav ul li a{
                                   font-family:calibri;
                                   font-size:1.4em; 
                                   text-transform:uppercase;
                                   color:#5c5c5c;
                                   }
                        nav ul li a:hover{
                                         color:#121212;
                                         }
                       .about-container{
                                       top:0px;
                                       flex-direction:column;
                                       width:90%;
                                       height:auto;
                                       padding:30px 0px;
                                       align-items:center;
                                       }
                        .about-text{
                                   width:90%;
                                   text-align:center;
                                   }
                        .mywork-text{
                                    width:100%;
                                    } 
                        .my-work{
                                height:auto;
                                }
                        .contact-info{
                            flex-direction: column;
                                     }
                          .card{
                            width: 100%;
                            max-width: 300px;
                            margin: 10px 0;
                               }
 
                        
                        footer p:nth-child(2){
                                             width:90%;
                                             }                  
                       }

